body{
  background: url(https://cdn.wolyo.co.kr/news/photo/202104/117173_75998_2010.jpg);
  height:100vh;
  background-position: no-repeat;
  background-size: cover;
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}

.Weather-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vh;
  opacity: 0.7;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  font-size: 30px;
}

button{
  height: 20vh;
  width: 20vh;
  opacity: 0.7;
  padding: 50px;
}